### Learning Objectives

By the end of this class, you should be able to:

1. Understand common Python data structures.
2. Apply CRUD operations to data structures.
3. Recognize use cases for data structures in data science.

CRUD

Create
Read
Update
Delete

## 1. Lists <a id="lists"></a>

In Python, lists are versatile and commonly used to store collections of items. You can create lists using square brackets `[]`. you can also use the list function: list()

lists are mutable, ordered, typically homogenous.

### Creating a Python List <a id="lists-create"></a>

In [5]:
# creating a list using square brackets
shopping_list = ['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries']

In [6]:
shopping_list

['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries']

In [7]:
# create a list using the list function
shopping_list2 = list(('Perfume', 'Soap', 'Tissue paper', 'Body cream'))

In [8]:
shopping_list2

['Perfume', 'Soap', 'Tissue paper', 'Body cream']

In [9]:
type(shopping_list2)

list

In [10]:
# create a list using the list function
shopping_list3 = list(['Perfume', 'Soap', 'Tissue paper', 'Body cream'])

In [11]:
shopping_list3

['Perfume', 'Soap', 'Tissue paper', 'Body cream']

In [12]:
shopping_list4 = []

### Reading a List <a id="lists-read"></a>

In [14]:
print(shopping_list3[0])

Perfume

In [18]:
# slicing a list: first two items

print(shopping_list3[0:2])

['Perfume', 'Soap']

In [19]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
numbers[::2]

[0, 2, 4, 6, 8]

In [21]:
numbers[-1]

9

### Updating a List <a id="lists-update"></a>

In [22]:
dir(shopping_list4)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [23]:
shopping_list4.append('Soap')

In [25]:
shopping_list4.append('Perfume')

In [26]:
print(shopping_list4)

['Soap', 'Perfume']

In [28]:
shopping_list4.insert(0, 'Tissue Paper')

In [29]:
print(shopping_list4)

['Tissue Paper', 'Soap', 'Perfume']

In [30]:
shopping_list4.extend(['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries'])

In [31]:
print(shopping_list4)

['Tissue Paper', 'Soap', 'Perfume', 'Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries']

In [ ]:
# removing items from a list: remove, pop

In [33]:
shopping_list4.pop()

'Floating Berries'

In [34]:
print(shopping_list4)

['Tissue Paper', 'Soap', 'Perfume', 'Groceries', 'Cocacola', 'Milo', 'Bama']

In [36]:
shopping_list4.remove('Soap')

In [37]:
print(shopping_list4)

['Tissue Paper', 'Perfume', 'Groceries', 'Cocacola', 'Milo', 'Bama']

In [53]:
shopping_list.update??

Object `shopping_list.update` not found.

### Delete

In [41]:
shopping_list4.clear()

In [42]:
print(shopping_list4)

[]

### List: Use Cases in Data Science <a id="lists-use-cases"></a>

### Use Case: Storing and Manipulating Datasets

#### Background

In data science, we often work with datasets that contain various types of information, such as numerical values, text data, or categorical variables. Python lists provide a convenient way to store and manipulate these datasets.

#### Scenario

Suppose we have collected data on the monthly sales revenue (in thousands of dollars) for a small retail store over the past year. The dataset includes sales data for each month. We want to use a Python list to store and analyze this dataset.

#### Implementation

Let's create a Python list called `monthly_sales` to store our dataset. Each element in the list represents the monthly sales revenue for one month, starting from January (index 0) to December (index 11).

```python
# Creating a list to store monthly sales data
monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

In [3]:
monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

In [4]:
total_yearly_revenue = sum(monthly_sales)

In [56]:
print(total_yearly_revenue)

2035

In [46]:
# avg = total/no. of total

average_revenue = total_yearly_revenue / len(monthly_sales)

In [48]:
print(round(average_revenue, 1))

169.6

### Assignment

1. From the list (monthly_sales) above, 
- create four seperate lists frm the list for each quarter namely: q1, q2, q3, q4. 
- report what quarter had the highest amount in total revenue, 
- report the lowest.

In [4]:
q1 = monthly_sales[0:3]
print(q1)
q2 = monthly_sales[3:6]
print(q2)
q3 = monthly_sales[6:9]
print(q3)
q4 = monthly_sales[9:12]
print(q4)

[120, 135, 150]
[145, 155, 160]
[170, 180, 190]
[200, 210, 220]

In [5]:

total_revenue1 = sum(q1)
total_revenue1

405

In [6]:
total_revenue2 = sum(q2)
total_revenue2

460

In [7]:
total_revenue3 = sum(q3)
total_revenue3

540

In [8]:
total_revenue4 = sum(q4)
total_revenue4

630

From the above the highest total revenue is total_revenue4 for q4 and the least is total_revenue1 for q1

2. Store the names of a few of your friends in a list called names. 
- Print each person’s name by accessing each element in the list, one at a time.
- Start with the list you created, but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name. hint(use may use f-strings)

In [30]:
names = ["Doyin", "Ndiana", "Fikayo"]

for i in names:
    print(f"Meet my friend {i}.")

Meet my friend Doyin.
Meet my friend Ndiana.
Meet my friend Fikayo.

3. You are managing a list of students' names in your class. 
* Create a list called student_names containing the following student names as strings: 'Alice', 'Bob', 'Charlie', 'David', 'Eve'.
- Use the student_names list from the list above for the following operations:
  - a. Print the number of students in the class (the length of the list).
  - b. Print the first and last student names in the list.
  - c. Charlie has left the class. Remove his name from the list.
  - d. A new student, "Frank," has joined the class. Add his name to the list.
  - e. The class has been dissolved, and you need to remove all student names from the list.

In [3]:
student_names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
#a
len(student_names)

5

In [4]:
#b
print(student_names[0])
print(student_names[-1])

Alice
Eve

In [5]:
#c
student_names.remove('Charlie')
student_names

['Alice', 'Bob', 'David', 'Eve']

In [6]:
#d
student_names.append('Frank')
student_names

['Alice', 'Bob', 'David', 'Eve', 'Frank']

In [7]:
#e
student_names.clear()
student_names

[]